<footer class="bg-black text-white py-12 rounded-t-[50px]">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-start">
      <div class="flex flex-col mb-4 md:mb-0">
          <p class="text-sm text-[#cecdcd]">Para más información escríbenos:</p>
          <!-- Ajuste de tamaño para pantallas pequeñas -->
          <a href="mailto:info&#64;skandia.com" class="text-[32px] md:text-[60px] mt-6 mb-6">info&#64;skandia.com</a>
          <!-- Hacemos que los iconos se distribuyan mejor en pantallas pequeñas -->
          <div class="flex justify-start space-x-4 mt-10">
            <a href="#" class="flex items-center justify-center w-10 h-10 md:w-12 md:h-12 bg-white rounded-full hover:bg-green-500 transition duration-300">
              <i class="fa fa-facebook-f text-black"></i>
            </a>
            <a href="#" class="flex items-center justify-center w-10 h-10 md:w-12 md:h-12 bg-white rounded-full hover:bg-green-500 transition duration-300">
              <i class="fa fa-instagram text-black"></i>
            </a>
            <a href="#" class="flex items-center justify-center w-10 h-10 md:w-12 md:h-12 bg-white rounded-full hover:bg-green-500 transition duration-300">
              <i class="fa fa-pinterest-p text-black"></i>
            </a>
            <a href="#" class="flex items-center justify-center w-10 h-10 md:w-12 md:h-12 bg-white rounded-full hover:bg-green-500 transition duration-300">
              <i class="fa fa-twitter text-black"></i>
            </a>
          </div>
      </div>

      <!-- Centrar botón en pantallas pequeñas, margen ajustado en pantallas más grandes -->
      <div class="flex justify-center md:ml-auto mt-10 md:mt-16">
          <a href="/parking" class="bg-[#00c83c] text-white px-6 py-3 rounded-[3px] hover:bg-green-600 transition duration-300 text-sm md:text-base">Ingresa a Skandia U</a>
      </div>
  </div>

  <!-- Ajuste de margen y centrado en pantallas pequeñas -->
  <div class="flex justify-center md:justify-end mt-8 md:mt-0 md:mr-[150px] -translate-y-10 md:-translate-y-0">
      <p class="text-[#c4c4c4] text-xs md:text-sm mt-4">&copy; 2024 Skandia U. All rights reserved.</p>
  </div>
</footer>
