
<a *ngIf="type === 'primero'" [href]="href">
    <button class="cursor-pointer relative group overflow-hidden border-2 rounded-[5px] px-8 py-2 border-green-500">
        <span class="font-bold text-white text-xl relative z-10 group-hover:text-green-500 duration-500">{{text}}</span>
        <span class="absolute top-0 left-0 w-full bg-green-500 duration-500 group-hover:-translate-x-full h-full"></span>
        <span class="absolute top-0 left-0 w-full bg-green-500 duration-500 group-hover:translate-x-full h-full"></span>
        <span class="absolute top-0 left-0 w-full bg-green-500 duration-500 delay-300 group-hover:-translate-y-full h-full"></span>
        <span class="absolute delay-300 top-0 left-0 w-full bg-green-500 duration-500 group-hover:translate-y-full h-full"></span>
    </button>
</a>

<a *ngIf="type === 'segundo'" [href]="href">
    <button class="cursor-pointer font-semibold overflow-hidden relative z-100 border rounded-[5px] border-white group px-8 py-2">
        <span class="relative z-10 text-white group-hover:text-white text-xl duration-500">{{ text }}</span>
        <span class="absolute w-full h-full bg-green-500 -left-32 top-0 -rotate-45 group-hover:rotate-0 group-hover:left-0 duration-500"></span>
        <span class="absolute w-full h-full bg-green-500 -right-32 top-0 -rotate-45 group-hover:rotate-0 group-hover:right-0 duration-500"></span>
    </button>
</a>

<a *ngIf="type === 'tercero'" [href]="href">
  <button class="bg-[#29292910] border border-[#3e3e3e80] rounded-lg text-[#6b6b6b] px-6 py-3 text-base hover:border-[#42ff42] hover:text-[#000000] cursor-pointer transition" >
    {{ text }}
  </button>
</a>

<a *ngIf="type === 'cuarto'" [href]="href" (click)="handleClick($event)">
  <button class="cursor-pointer font-semibold overflow-hidden relative z-100 border rounded-[5px] border-white group px-8 py-2">
      <span class="relative z-10 text-white group-hover:text-white text-xl duration-500">{{ text }}</span>
      <span class="absolute w-full h-full bg-green-500 -left-32 top-0 -rotate-45 group-hover:rotate-0 group-hover:left-0 duration-500"></span>
      <span class="absolute w-full h-full bg-green-500 -right-32 top-0 -rotate-45 group-hover:rotate-0 group-hover:right-0 duration-500"></span>
  </button>
</a>

